.body{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
}

.header{
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;    
}

li {
    list-style: none;
    display: inline;
    padding: 12px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}
